/* 
html, body, div {
    font-family: sans-serif;
}

#id{
    font-family: sans-serif;
}

.class{
    font-family: sans-serif;
}
*/


:root{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  background-color: rgb(253, 241, 223);
}

#app_container {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

#form_container {
  display: flex;
  gap: 8px;
}

#item_input {
  flex-grow: 1;
}

#items_element {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  gap: 8px;
  background-color: #fff;
  border: 1px solid #867e7e;
  border-radius: 10px;
  padding: 6px;
}

.item span {
  flex-grow: 1;
}

.item input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: #616161;
}

/*
.item .check:checked + span {
  text-decoration: line-through;
}

.item input:checked + span {
  text-decoration: line-through;
}
*/

#total_items {
  width: 30px;
  height: 30px;

  border-radius: 50%; /* Add border-radius property */
  border: 1px solid rgba(127, 255, 212, 0.404);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(127, 255, 212, 0.404);
}
